{% extends 'web/base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid position-relative p-0">
    {% include 'web/partials/header.html' %}

    <div class="container-fluid bg-primary py-5 hero-header" style="margin-bottom: 90px;">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 pt-lg-5 mt-lg-5 text-center text-lg-start">
                    <h5 class="text-white text-uppercase mb-3 animated slideInDown">MUJEEB RAHMAN K</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn text-size">SUCCESSFUL AND INSPIRING ENTREPRENEUR OF KERALA</h1>
                    <!-- <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Free Quote</a> -->
                    <a href="{% url 'web:contact' %}" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3"
                        placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid pt-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title-2 position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">Profile</h5>
                    <h1 class="mb-0">Founder, Chairman & Managing Director of Royal Drive</h1>
                </div>
                <p class="mb-4">The first showroom for pre-owned luxury cars.  Dedication and passion brought success to the business and built motivation and inspiration for aspiring entrepreneurs.</p>
                <div class="border rounded p-4 wow fadeInUp" data-wow-delay="0.6s">
                    <nav>
                        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                            <button class="nav-link text-uppercase active" id="nav-story-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-story" type="button" role="tab" aria-controls="nav-story"
                                aria-selected="true">Story</button>
                            <!-- <button class="nav-link text-uppercase" id="nav-mission-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-mission" type="button" role="tab" aria-controls="nav-mission"
                                aria-selected="false">Mission</button> -->
                            <button class="nav-link text-uppercase" id="nav-vision-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-vision" type="button" role="tab" aria-controls="nav-vision"
                                aria-selected="false">Vision</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-story" role="tabpanel"
                            aria-labelledby="nav-story-tab">
                            <p>The success tale of Mujeeb Rahman is a stirring story for every dreamer. The keys to a successful business for this passionate entrepreneur are,</p>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Quality Employees</h5>
                                    <h5 class="mb-0"><i class="fa fa-check text-primary me-3"></i>Financial Support
                                    </h5>
                                </div>
                                <div class="col-sm-6">
                                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Abided to the Nation's Law</h5>
                                    <h5 class="mb-0"><i class="fa fa-check text-primary me-3"></i>Transparency</h5>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="tab-pane fade" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                            <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam amet
                                diam et eos labore. Clita erat ipsum et lorem et sit</p>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Award Winning</h5>
                                    <h5 class="mb-0"><i class="fa fa-check text-primary me-3"></i>Professional Staff
                                    </h5>
                                </div>
                                <div class="col-sm-6">
                                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>24/7 Support</h5>
                                    <h5 class="mb-0"><i class="fa fa-check text-primary me-3"></i>Fair Prices</h5>
                                </div>
                            </div>
                        </div> -->
                        <div class="tab-pane fade" id="nav-vision" role="tabpanel" aria-labelledby="nav-vision-tab">
                            <p>His vision is to achieve global growth in the business and to become the first choice for customers when it comes to pre-owned luxury cars.</p>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Global growth</h5>
                                    <h5 class="mb-0"><i class="fa fa-check text-primary me-3"></i>Quality services
                                    </h5>
                                </div>
                                <div class="col-sm-6">
                                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Customer’s choice</h5>
                                    <h5 class="mb-0"><i class="fa fa-check text-primary me-3"></i>Trusted partner</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                        src="{% static 'web/img/about.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title-2 text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Latest Updates</h5>
            <h1 class="mb-0">Get updated with the latest news and events </h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="blog-item bg-light rounded overflow-hidden">
                    <div class="blog-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{% static 'web/img/blog-1.jpg' %}" alt="">
                        <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4"
                            href="#">Web Design</a>
                    </div>
                    <div class="p-4">
                        <div class="d-flex mb-3">
                            <small class="me-3"><i class="far fa-user text-primary me-2"></i>John Doe</small>
                            <small><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</small>
                        </div>
                        <h4 class="mb-3">How to build a website</h4>
                        <p>Dolor et eos labore stet justo sed est sed sed sed dolor stet amet</p>
                        <a class="text-uppercase" href="#">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                <div class="blog-item bg-light rounded overflow-hidden">
                    <div class="blog-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{% static 'web/img/blog-2.jpg' %}" alt="">
                        <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4"
                            href="#">Web Design</a>
                    </div>
                    <div class="p-4">
                        <div class="d-flex mb-3">
                            <small class="me-3"><i class="far fa-user text-primary me-2"></i>John Doe</small>
                            <small><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</small>
                        </div>
                        <h4 class="mb-3">How to build a website</h4>
                        <p>Dolor et eos labore stet justo sed est sed sed sed dolor stet amet</p>
                        <a class="text-uppercase" href="#">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                <div class="blog-item bg-light rounded overflow-hidden">
                    <div class="blog-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{% static 'web/img/blog-3.jpg' %}" alt="">
                        <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4"
                            href="#">Web Design</a>
                    </div>
                    <div class="p-4">
                        <div class="d-flex mb-3">
                            <small class="me-3"><i class="far fa-user text-primary me-2"></i>John Doe</small>
                            <small><i class="far fa-calendar-alt text-primary me-2"></i>01 Jan, 2045</small>
                        </div>
                        <h4 class="mb-3">How to build a website</h4>
                        <p>Dolor et eos labore stet justo sed est sed sed sed dolor stet amet</p>
                        <a class="text-uppercase" href="#">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5 mb-5">
        <div class="bg-white">
            <div class="owl-carousel vendor-carousel">
                <img src="{% static 'web/img/vendor-1.jpg' %}" alt="">
                <img src="{% static 'web/img/vendor-2.jpg' %}" alt="">
                <img src="{% static 'web/img/vendor-3.jpg' %}" alt="">
                <img src="{% static 'web/img/vendor-4.jpg' %}" alt="">
                <img src="{% static 'web/img/vendor-5.jpg' %}" alt="">
                <img src="{% static 'web/img/vendor-6.jpg' %}" alt="">
                <img src="{% static 'web/img/vendor-7.jpg' %}" alt="">
                <img src="{% static 'web/img/vendor-8.jpg' %}" alt="">
                <img src="{% static 'web/img/vendor-9.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>



{% endblock %}