{% extends 'web/base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid position-relative p-0">
    {% include 'web/partials/header.html' %}

    <div class="container-fluid bg-primary py-4 hero-header" >
        <div class="container py-4">
            <div class="row justify-content-start">
                <div class="col-lg-8 pt-lg-5 mt-lg-5 text-center text-lg-start">
                    <h5 class="text-white text-uppercase mb-3 animated slideInDown">MUJEEB RAHMAN K</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn text-size">SUCCESSFUL AND INSPIRING
                        ENTREPRENEUR OF KERALA</h1>
                    <!-- <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Free Quote</a> -->
                    <!-- <a href="{% url 'web:contact' %}"
                        class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Contact Us</a> -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3"
                        placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid pt-4 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-4">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title-2 position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-dark text-uppercase">Profile</h5>
                    <h1 class="mb-0 text-black">Founder, Chairman & Managing Director of Royal Drive</h1>
                </div>
                <p class="mb-4 ">Mujeeb Rahman is the founder & CEO of Royal Drive, the first showroom for pre-owned
                    luxury cars. Dedication and passion brought success to the business and remains a strong inspiration
                    for aspiring entrepreneurs.</p>
                    <a class="text-uppercase" href="{% url 'web:profile' %}">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
            <div class="col-lg-5" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                        src="{% static 'web/img/about.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid py-3 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-1">
        <div class="section-title-2 text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-white text-uppercase">Latest Updates</h5>
            <h1 class="mb-0">News & Events </h1>
        </div>
        <div class="row g-5">

            {% for update in updates %}
            <div class="col-md-4 wow slideInUp" data-wow-delay="0.1s">
                <div class="blog-item bg-light rounded overflow-hidden" >
                <div class="blog-img position-relative overflow-hidden">
                <img class="img-fluid w-100" src="{{update.image.crop.340x238}}" alt="">
                <!-- <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="#">Web Design</a> -->
                </div>
                <div class="p-4 bg-darkblue text-white" style="height: 275px;">
                <div class="d-flex mb-3">
                <!-- <small class="me-3"><i class="far fa-user text-primary me-2"></i>John Doe</small> -->
                <small><i class="far fa-calendar-alt text-primary me-2"></i>{{update.date|date:"d"}} {{update.date|date:"M"}}, {{update.date|date:"Y"}}</small>
                </div>
                <h4 class="mb-3 update-h4">{{update.title}}</h4>
                <p>{{update.summary}}</p>
                <a class="text-uppercase" href="{% url 'web:updateDetails' update.slug  %}">Read More <i class="bi bi-arrow-right"></i></a>
                </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>






{% endblock %}