{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid position-relative p-0">

    {% include 'web/partials/header.html' %}

    <div class="container-fluid bg-primary py-5 bg-header">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn mb-3">Positions</h1>
                <a href="#" class="h5 text-white">Home</a>
                <i class="fa fa-angle-double-right text-white px-2"></i>
                <a href="#" class="h5 text-white">Positions</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3"
                        placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid py-4 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">

            <div class="col-lg-12">
                <!-- <img class="img-fluid w-100 rounded mb-5" src="{% static 'web/img/detail.jpg' %}" alt=""> -->
                <h1 class="mb-4"> Royal Drive </h1>
                <h4>Founder, Chairman & Managing Director </h4>
                <p>Royal Drive is the next level sales company of luxury pre-owned cars based in Kerala. Buying, selling & exchanging luxury cars is made easy by the company; the families also get a chance to take part in the purchase of pre-owned cars. Royal Drive introduced a luxurious garage for the sales of pre-owned luxury cars as real-time touch and feel experiences are necessary for pre-owned cars.</p>
                <p>The business was inspired by European sales strategies of building amazing showrooms for pre-owned luxury cars. The increase in online sales of new cars and the necessity of broad showrooms for pre-owned cars paved the smooth passage to his business triumph.  </p>
               <br>

                    <h1 class="mb-4"> RD Smart</h1>
                    <h4>Founder, Chairman & Managing Director </h4>
                <p>Royal Drive Smart is yet another business founded by  Mujeeb Rahman. Continuing his glorious triumph over Royal Drive, the business expanded to the sales of normal cars of the price range of 5lakh to 15 Lakh. Moreover, he aims to open a platform for the common man to purchase normal cars as well as build strong relationships with prominent high-class figures.
                </p>
            </div>


          

        </div>
    </div>
</div>








{% endblock %}