{% extends 'web/base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid position-relative p-0">
    {% include 'web/partials/header.html' %}

    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn mb-3">Profile</h1>
                <a href="#" class="h5 text-white">Home</a>
                <i class="fa fa-angle-double-right text-white px-2"></i>
                <a href="#" class="h5 text-white">Profile</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3"
                        placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid pt-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container ">
        <div class="row g-5">
            <div class="col-lg-7 ">
                <div class="section-title-1 position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">Profile</h5>
                    <h1 class="mb-0">Ride business with the wheels of passion</h1>
                </div>
                <p class="mb-4">Childhood dreams are the true passion that can be made into a successful business. Mujeeb had a true passion for cars and he worked hard to give wings to his dreams. Learning and hard work boosted his career and placed a renowned position among the leading entrepreneurs. Royal Drive was the life-changing business of Mujeeb Rahman that itself produced a higher brand value among the public.</p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Luxury pre-owned cars</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Buy, sell & exchange</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Largest used car showroom</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>First robotic manager</h5>
                    </div>
                </div>



            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                        src="{% static 'web/img/about.jpg' %}" style="object-fit: cover;">
                </div>
            </div>



        </div>
    </div>

    <div class="container-fluid wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title-1 text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Success Journal</h5>
                <h1 class="mb-0">Life-changing moments & milestones in the career voyage
                </h1>
            </div>
            <div class="container story position-relative">
                <div class="row mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-12 text-md-center">
                        <div class="d-inline-block bg-primary text-white rounded py-2 px-4">Now</div>
                    </div>
                </div>
                <div class="row gx-5 story-right position-relative mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-md-6 text-md-end">
                        <h6 class="fw-bold mb-3 ms-3 ms-md-0">01 Jun, 2021</h6>
                    </div>
                    <div class="col-md-6">
                        <div class="story-text position-relative d-inline-block bg-light p-4 ms-3 ms-md-0">
                            <h4>Assistant for car sales</h4>
                            <p class="m-0">Lorem ipsum dolor sit amet elit ornare velit non</p>
                        </div>
                    </div>
                </div>
                <div class="row gx-5 story-left position-relative mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-md-6 d-block d-md-none">
                        <h6 class="fw-bold mb-3 ms-3 ms-md-0">01 Jan, 2021</h6>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <div class="story-text position-relative d-inline-block bg-light p-4 ms-3 ms-md-0">
                            <h4>Cafeteria boy Saudi Arabia</h4>
                            <p class="m-0">Lorem ipsum dolor sit amet elit ornare velit non</p>
                        </div>
                    </div>
                    <div class="col-md-6 d-none d-md-block">
                        <h6 class="fw-bold mb-3 ms-3 ms-md-0">01 Jan, 2021</h6>
                    </div>
                </div>
                <div class="row mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-12 text-md-center">
                        <div class="d-inline-block bg-primary text-white rounded py-2 px-4">2020</div>
                    </div>
                </div>
                <div class="row gx-5 story-right position-relative mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-md-6 text-md-end">
                        <h6 class="fw-bold mb-3 ms-3 ms-md-0">01 Jun, 2020</h6>
                    </div>
                    <div class="col-md-6">
                        <div class="story-text position-relative d-inline-block bg-light p-4 ms-3 ms-md-0">
                            <h4>Mobile shop in Saudi</h4>
                            <p class="m-0">Lorem ipsum dolor sit amet elit ornare velit non</p>
                        </div>
                    </div>
                </div>
                <div class="row gx-5 story-left position-relative mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-md-6 d-block d-md-none">
                        <h6 class="fw-bold mb-3 ms-3 ms-md-0">01 Jan, 2020</h6>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <div class="story-text position-relative d-inline-block bg-light p-4 ms-3 ms-md-0">
                            <h4>Sales of pre-owned Innova cars</h4>
                            <p class="m-0">Lorem ipsum dolor sit amet elit ornare velit non</p>
                        </div>
                    </div>
                    <div class="col-md-6 d-none d-md-block">
                        <h6 class="fw-bold mb-3 ms-3 ms-md-0">01 Jan, 2020</h6>
                    </div>
                </div>
                <div class="row mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-12 text-md-center">
                        <div class="d-inline-block bg-primary text-white rounded py-2 px-4">2015</div>
                    </div>
                </div>
                <div class="row gx-5 story-right position-relative mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-md-6 text-md-end">
                        <h6 class="fw-bold mb-3 ms-3 ms-md-0">01 Jun, 2019</h6>
                    </div>
                    <div class="col-md-6">
                        <div class="story-text position-relative d-inline-block bg-light p-4 ms-3 ms-md-0">
                            <h4>1st showroom in Malappuram </h4>
                            <p class="m-0">Lorem ipsum dolor sit amet elit ornare velit non</p>
                        </div>
                    </div>
                </div>
                <div class="row gx-5 story-left position-relative mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-md-6 d-block d-md-none">
                        <h6 class="fw-bold mb-3 ms-3 ms-md-0">01 Jan, 2019</h6>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <div class="story-text position-relative d-inline-block bg-light p-4 ms-3 ms-md-0">
                            <h4>Wide showroom in Calicut</h4>
                            <p class="m-0">Lorem ipsum dolor sit amet elit ornare velit non</p>
                        </div>
                    </div>
                    <div class="col-md-6 d-none d-md-block">
                        <h6 class="fw-bold mb-3 ms-3 ms-md-0">01 Jan, 2019</h6>
                    </div>
                </div>
                <div class="row gx-5 story-right position-relative mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-md-6 text-md-end">
                        <h6 class="fw-bold mb-3 ms-3 ms-md-0">01 Jun, 2019</h6>
                    </div>
                    <div class="col-md-6">
                        <div class="story-text position-relative d-inline-block bg-light p-4 ms-3 ms-md-0">
                            <h4>Expansive showroom in Kochi</h4>
                            <p class="m-0">Lorem ipsum dolor sit amet elit ornare velit non</p>
                        </div>
                    </div>
                </div>
                <div class="row wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-12 text-md-center">
                        <div class="d-inline-block bg-primary text-white rounded py-2 px-4">Launched</div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {% endblock %}