{% extends 'web/base.html' %}
{% load static %}
{% block content %}



<div class="container-fluid position-relative p-0">
    {% include 'web/partials/header.html' %}
<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
<div class="row py-5">
<div class="col-12 pt-lg-5 mt-lg-5 text-center">
<h1 class="display-4 text-white animated zoomIn mb-3">Community Services</h1>
<a href="#" class="h5 text-white">Home</a>
<i class="fa fa-angle-double-right text-white px-2"></i>
<a href="#" class="h5 text-white">Community Services</a>
</div>
</div>
</div>
</div>


<div class="modal fade" id="searchModal" tabindex="-1">
<div class="modal-dialog modal-fullscreen">
<div class="modal-content" style="background: rgba(9, 30, 62, .7);">
<div class="modal-header border-0">
 <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body d-flex align-items-center justify-content-center">
<div class="input-group" style="max-width: 600px;">
<input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
<button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
</div>
</div>
</div>
</div>
</div>


<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
<div class="container py-5">
<div class="row g-5">
<div class="col-lg-12">

<div class="mb-5">
<img class="img-fluid w-100 rounded mb-5" src="{% static 'web/img/detail.jpg' %}" alt="">
<h1 class="mb-4">Sharing love with the community</h1>
<p>Remarkable achievements can make a successful business, but true success in life is when you share your love and affection to the current society. Mujeeb Rahman always looked up to helping the needy and is also a part of various community services. It is a renowned fact that “we truly help ourselves by helping others”. Your economic and personal values will benefit from building a strong business foundation, but a close connection with the community will make you a more pleasing person.</p>

</div>





</div>


</div>
</div>
</div>



{% endblock %}