{% load static %}
<nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
    <a href="#" class="navbar-brand p-0">
        <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>MR</h1>

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <div class="nav-item dropdown">
                <a href="{% url 'web:index' %}" class="nav-link  {% if is_index %} active {% endif %}">Home</a>
                <!-- <div class="dropdown-menu m-0">
                    <a href="index-1.html" class="dropdown-item">Home 1</a>
                    <a href="index.html" class="dropdown-item active">Home 2</a>
                </div> -->
            </div>
            <div class="nav-item dropdown">
                <a href="{% url 'web:profile' %}" class="nav-link dropdown-toggle {% if is_profile %} active {% endif %}"  aria-expanded="false">Profile</a>
                <div class="dropdown-menu m-0">
                    <a href="{% url 'web:position' %}" class="dropdown-item">Position</a>
                    <a href="{% url 'web:award' %}" class="dropdown-item">Awards</a>
                    <a href="{% url 'web:companies' %}" class="dropdown-item">Group Companies</a>
                </div>
            </div>
            <!-- <div class="nav-item dropdown">
                <a href="{% url 'web:position' %}" class="nav-link {% if is_position %} active {% endif %}">Position</a>
                <div class="dropdown-menu m-0">
                    <a href="service-1.html" class="dropdown-item">Service 1</a>
                    <a href="service-2.html" class="dropdown-item">Service 2</a>
                    <a href="service-3.html" class="dropdown-item">Service 3</a>
                    <a href="position.html" class="dropdown-item">Service Detail</a>
                </div>
            </div> -->
            <!-- <div class="nav-item dropdown">
                <a href="{% url 'web:award' %}" class="nav-link {% if is_award %} active {% endif %} ">Awards</a>
                <div class="dropdown-menu m-0">
                    <a href="price-1.html" class="dropdown-item">Price Page 1</a>
                    <a href="price-2.html" class="dropdown-item">Price Page 2</a>
                    <a href="project.html" class="dropdown-item">Project Page</a>
                    <a href="project-detail.html" class="dropdown-item">Project Detail</a>
                    <a href="blog.html" class="dropdown-item">Blog Page</a>
                    <a href="services.html" class="dropdown-item">Blog Detail</a>
                    <a href="faq.html" class="dropdown-item">FAQs Page</a>
                    <a href="team.html" class="dropdown-item">Team Page</a>
                    <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                    <a href="404.html" class="dropdown-item">404 Page</a>
                </div>
            </div> -->
            <!-- <div class="nav-item dropdown">
                <a href="{% url 'web:companies' %}" class="nav-link {% if is_companies %} active {% endif %}">Group Companies</a>
            </div> -->
            <div class="nav-item dropdown">
                <a href="{% url 'web:services' %}" class="nav-link {% if is_service %} active {% endif %}">Community Services</a>
            </div>
            <div class="nav-item dropdown">
                <a href="{% url 'web:updates' %}" class="nav-link {% if is_updates %} active {% endif %}">Updates</a>
            </div>
            <div class="nav-item dropdown">
                <a href="{% url 'web:gallery' %}" class="nav-link  {% if is_gallery %} active {% endif %}">Gallery</a>
            </div>
            <div class="nav-item dropdown">
                <a href="{% url 'web:contact' %}" class="nav-link {% if is_contact %} active {% endif %}">Contact</a>
            </div>
        </div>
        <!-- <butaton type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i
                class="fa fa-search"></i></butaton>
        <a href="https://htmlcodex.com/startup-company-website-template"
            class="btn btn-primary py-2 px-3 ms-3">Purchase Now</a> -->
    </div>
</nav>